/*
    thank you for all your help, not just with the games but at work too. you're great dude

    https://colorhunt.co/palette/162790
*/

.bee-flat body{
    margin:0;
    overflow: hidden;
}

.bee-flat #canvas{
    background-color: #00918e;    
}